body {
    background-color: antiquewhite;
    text-align: center;
}

div {
    margin-top: 50px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

img {
    width: 600px;
    height: 700px;
}
